/* Colors */
.jn-red {
	color: #d85349;
}

/* Buttons */
.jn-button {
	text-align: center;
	display: inline-block;
	color: #444;
	min-width: 125px;
	padding: 10px;
	border-radius: 3px;
	text-decoration: none;
	transition: 0.3s ease;
	font-size: 14px;
}
.jn-button:hover {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
}
.jn-button-clear {
	border: 1px solid #ccc;
}
.jn-button-white {
	background-color: #fff;
}
.jn-button-red {
	color: #fff;
	background-color: #d85349;
}
.jn-button-red:hover {
	background-color: #fa5e52;
}
.jn-button-green {
	color: #fff;
	background-color: #45c892;
}
.jn-button-green:hover {
	background-color: #44e5a3;
}
.jn-button-blue {
	color: #fff;
	background-color: #00a8e6;
}
.jn-button-blue:hover {
	background-color: #35b3ee;
}